button {
  color: white;
  text-transform: none;
  border-radius: 16px;
  padding: 10px 20px;
}

.joke-button {
  min-width: 200px;
  background-color: #7BC06F;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.error-text {
  color: #cc0408;
  font-weight: bold;
}

.joke-display-col {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}

.joke-text-row {
  display: flex;
  align-items: center;
  justify-content: start;
}

svg {
  color: lightgray;
  height: 70px;
  width: auto;
  opacity: .5;
}

.punchline-button-row {
  display: flex;
  justify-content: center;
}

button.punchline-button {
  background-color: #2a7fbf;
}

.punchline-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-error-display {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}